{
  "extends": [
    "airbnb",
    "plugin:jsx-a11y/recommended"
  ],
  "plugins": [
    "prettier",
    "jsx-a11y"
  ],
  "parser": "babel-eslint",
  "env": {
    "browser": true
  },
  "rules": {
    "indent": [
      "error",
      2
    ],
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [
          ".js",
          ".jsx"
        ]
      }
    ]
  }
}